.wrapper{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;

    & .calendarHeader{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        & .monthDetails span{
            font-size: 28px;
            font-weight: 600;
        }

        & .action{
            display: flex;
            gap: 10px;
            border: 1px solid #ccc;
            padding-inline: 16px;
            padding-block: 4px;
            font-size: 12px;
            border-radius: 10px;
            & div{
                width: 100%;
                cursor: pointer;
            }
        }

    }

    & table{
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-collapse: collapse;
        & thead tr td{
            border: 1px solid #ccc;
            text-align: center;
            padding: 3px;
        }
        & tbody tr td{
            border: 1px solid #ccc;
            text-align: center;
            padding: 3px;

            & .date{
                min-height: 70px;
            }

        }
    }
}