@use '../mixins.scss';
@import '../variables.scss';
.wrapper{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    max-width: 1400px;

    & .calendarHeader{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        & .monthDetails span{
            font-size: 28px;
            font-weight: 600;
        }

        & .action{
            display: flex;
            gap: 10px;
            border: 1px solid #ccc;
            padding-inline: 16px;
            padding-block: 4px;
            font-size: 12px;
            border-radius: 10px;
            & div{
                width: 100%;
                cursor: pointer;
            }
        }

    }

    & table{
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-collapse: collapse;
        & thead tr td{
            border: 1px solid #ccc;
            text-align: center;
            padding: 3px;
            max-width: 70px;
            width: 70px;
        }
        & tbody tr td{
            max-width: 70px;
            border: 1px solid #ccc;
            text-align: center;
            padding: 3px;
            min-height: 120px;
            height: 120px;

            & .oldDate{
                position: relative;
                opacity: 0.2;
                position: relative;
                padding-top: 20px;
                height: 100%;
                box-sizing: border-box;
                & span {
                    position: absolute;
                    top: 0;
                    right: 2%;
                }
                & .today{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    height: 24px;
                    width: 24px;
                    font-size: 14px;
                    background-color: #fb2629;
                    border-radius: 50%;
                    color: #ffffff;
                    font-weight: bold;
                }
            }
            & .date{
                height: 100%;
                box-sizing: border-box;
                position: relative;
                padding-top: 20px;
                & .today{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    height: 24px;
                    width: 24px;
                    font-size: 14px;
                    background-color: #fb2629;
                    border-radius: 50%;
                    color: #ffffff;
                    font-weight: bold;
                }
                & span {
                    position: absolute;
                    top: 0;
                    right: 2%;
                }

                & .PATTERN1 {
                    @include mixins.eventDetail($barOneColor,$barOneBgColor);
                    width: 100%;
                    box-sizing: border-box;
                    text-align: left;
                    display: flex;
                    min-height: 24px;
                    margin-bottom: 2px;
                }
                
                & .PATTERN2 {
                    @include mixins.eventDetail($pattern2BarColor,$pattern2BgColor);
                    width: 100%;
                    box-sizing: border-box;
                    text-align: left;
                    display: flex;
                    min-height: 24px;
                    margin-bottom: 2px;
                }
                
                & .PATTERN3 {
                    @include mixins.eventDetail($pattern3BarColor,$pattern3BgColor);
                    width: 100%;
                    box-sizing: border-box;
                    text-align: left;
                    display: flex;
                    min-height: 24px;
                    margin-bottom: 2px;
                }
                
                & .PATTERN4 {
                    @include mixins.eventDetail($pattern4BarColor,$pattern4BgColor);
                    width: 100%;
                    box-sizing: border-box;
                    text-align: left;
                    display: flex;
                    min-height: 24px;
                    margin-bottom: 2px;
                }

                // & .event{
                //     border-left: 2px solid $barOneColor;
                //     margin-bottom: 2px;
                //     background-color: $barOneBgColor;
                //     font-size: 12px;
                //     padding-block: 2px;
                //     text-align: left;
                //     padding-left: 5px;
                // }
            }

        }
    }
}