.wrapper{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    max-width: 1400px;

    & .calendarHeader{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        & .monthDetails span{
            font-size: 28px;
            font-weight: 600;
        }

        & .action{
            display: flex;
            gap: 10px;
            border: 1px solid #ccc;
            padding-inline: 16px;
            padding-block: 4px;
            font-size: 12px;
            border-radius: 10px;
            & div{
                width: 100%;
                cursor: pointer;
            }
        }

    }

    & table{
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-collapse: collapse;
        & thead tr td{
            border: 1px solid #ccc;
            text-align: center;
            padding: 3px;
            max-width: 70px;
            width: 70px;
        }
        & tbody tr td{
            max-width: 70px;
            border: 1px solid #ccc;
            text-align: center;
            padding: 3px;

            & .oldDate{
                min-height: 70px;
                position: relative;
                opacity: 0.2;

                & span {
                    position: absolute;
                    top: 0;
                    right: 2%;
                }
                & .today{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    height: 24px;
                    width: 24px;
                    font-size: 14px;
                    background-color: #fb2629;
                    border-radius: 50%;
                    color: #ffffff;
                    font-weight: bold;
                }
            }
            & .date{
                min-height: 70px;
                position: relative;
                & .today{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    height: 24px;
                    width: 24px;
                    font-size: 14px;
                    background-color: #fb2629;
                    border-radius: 50%;
                    color: #ffffff;
                    font-weight: bold;
                }
                & span {
                    position: absolute;
                    top: 0;
                    right: 2%;
                }
            }

        }
    }
}