$barOneColor: rgb(91, 71, 251);
$barOneBgColor: rgba(91, 71, 251, 0.2);

$pattern2BarColor :rgba(150, 255, 241, 1);
$pattern2BgColor: rgba(150, 255, 241, 0.2);

$pattern3BarColor :rgba(217, 63, 11, 1);
$pattern3BgColor: rgba(217, 63, 11, 0.2);

$pattern4BarColor: rgba(251, 202, 4, 1);
$pattern4BgColor: rgba(251, 202, 4, 0.2);